    div.gen
    {display:NONE}
    div#page-footer:before {
    position: relative;
    padding: 10px;
    font-family: Trebuchet MS,Tahoma,Arial;
    font-style: italic;
    text-align: center;
    bottom: -113px;
    center: 200px;
